<div class="container card p-5 mt-5">
    <h3 class="text-center">Novo Produto</h3>
    <form class="w-100" [formGroup]="addForm" (ngSubmit)="addProduct()">
        <div class="form-group">
            <label for="name">Nome do Produto:</label>
            <input type="text" class="form-control text-uppercase" id="name" aria-describedby="nameHelp"
                formControlName="name" (change)="addForm.patchValue({name: $event.target.value.toUpperCase()})">
            <small id="nameHelp" class="form-text text-danger"
                [hidden]="addForm.get('name').valid || addForm.get('name').untouched">Informe o nome do produto.</small>
        </div>
        <div class="form-group">
            <label for="price">Preço:</label>
            <input type="number" class="form-control" id="price" aria-describedby="priceHelp" formControlName="price">
            <small id="priceHelp" class="form-text text-danger"
                [hidden]="addForm.get('price').valid || addForm.get('price').untouched">Informe o preço do
                produto.</small>
        </div>
        <div class="form-group">
            <label for="img">Imagem:</label>
            <div class="row">
                    <div class="col-12 col-sm-6 col-md-4">
                        <img src="assets/default-img.png" class="img-fluid rounded w-50 my-4" *ngIf="addForm.get('image').value === null">
                        <img src="{{ addForm.get('image').value }}" class="img-fluid rounded w-50 mt-2" *ngIf="addForm.get('image').value !== null">
                    </div>
                </div>
                <button (click)="removeImage()" class="btn btn-danger btn-sm mb-4 rounded" *ngIf="addForm.get('image').value !== null">Remover</button>
            <input type="file" class="form-control-file border-0" id="img" aria-describedby="imgHelp"
                 #imageInput accept="image/*" (change)="processFile(imageInput)">
            <small id="imgHelp" class="form-text text-danger"
                [hidden]="addForm.get('image').valid || addForm.get('image').untouched">Insira a imagem do
                produto.</small>
        </div>
        <div class="row justify-content-center">
            <app-activity-indicator *ngIf="isAdding"></app-activity-indicator>
            <button type="submit" class="btn btn-danger m-2" [routerLink]="['/produtos']" *ngIf="!isAdding">Cancelar</button>
            <button type="submit" class="btn btn-primary m-2" *ngIf="!isAdding">Cadastrar</button>
        </div>
    </form>
</div>