<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="#">
        <img src="assets/dog-solid.svg" width="30" height="30" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto w-100">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/dashboard']" routerLinkActive="active">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" style="cursor: default;" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" [ngClass]="{'active': isProductsRoute}">
                    Produtos
                </a>
                <div class="dropdown-menu p-0" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item p-3" [routerLink]="['/produtos/novo']" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact:true}">Cadastrar Produto</a>
                    <div class="dropdown-divider m-0"></div>
                    <a class="dropdown-item p-3" [routerLink]="['/produtos']" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact:true}">Listar Produtos</a>
                </div>
            </li>
            <li class="nav-item ml-auto">
                <a class="nav-link" style="cursor: pointer" (click)=logout()>Sair</a>
            </li>
        </ul>
    </div>
</nav>
<div class="navbar-space w-100"></div>