<div class="container-fluid bg-dark d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow-sm p-5 rounded">
        <img src="assets/dog-solid.svg" width="40" height="40" class="card-img-top mb-4">
        <div class="card-body p-0">
            <h5 class="card-title text-center mb-4">LOGIN</h5>
            <form [formGroup]="loginForm" (ngSubmit)="login()">
                <div class="form-group">
                    <label for="user">Usuário</label>
                    <input type="text" class="form-control" id="user" placeholder="" formControlName="Username">
                    <small id="user" class="form-text text-danger"
                        [hidden]="loginForm.get('Username').valid || loginForm.get('Username').untouched">Informe um
                        usuário.</small>
                </div>
                <div class="form-group">
                    <label for="password">Senha</label>
                    <input type="password" class="form-control" id="password" placeholder="" formControlName="Password">
                    <small id="password" class="form-text text-danger"
                        [hidden]="loginForm.get('Password').valid || loginForm.get('Password').untouched">Informe a
                        senha.</small>
                </div>
                <div class="row justify-content-center">
                    <app-activity-indicator *ngIf="isLoading"></app-activity-indicator>
                    <button type="submit" class="btn btn-primary w-100 mt-3 p-3" *ngIf="!isLoading">Entrar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="loginErrorModal" tabindex="-1" role="dialog"
    aria-labelledby="loginErrorModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loginErrorModalTitle">Erro no Login</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            {{ modalMsg }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>