<div class="w100 mt-5 pt-5 d-flex justify-content-center align-items-center" *ngIf="isLoading">
    <app-activity-indicator></app-activity-indicator>
</div>
<div class="container card p-5 mt-5" *ngIf="!isLoading">
    <h3 class="text-center">Editar Produto</h3>
    <form class="w-100" [formGroup]="updateForm" (ngSubmit)="updateProduct()">
        <div class="form-group">
            <label for="name">Nome do Produto:</label>
            <input type="text" class="form-control text-uppercase" id="name" aria-describedby="nameHelp"
                formControlName="name" (change)="updateForm.patchValue({name: $event.target.value.toUpperCase()})">
            <small id="nameHelp" class="form-text text-danger"
                [hidden]="updateForm.get('name').valid || updateForm.get('name').untouched">Informe o nome do
                produto.</small>
        </div>
        <div class="form-group">
            <label for="price">Preço:</label>
            <input type="number" class="form-control" id="price" aria-describedby="priceHelp" formControlName="price">
            <small id="priceHelp" class="form-text text-danger"
                [hidden]="updateForm.get('price').valid || updateForm.get('price').untouched">Informe o preço do
                produto.</small>
        </div>
        <div class="form-group">
            <label for="img">Imagem:</label>
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4">
                    <img src="assets/default-img.png" class="img-fluid rounded w-50 my-4" *ngIf="updateForm.get('image').value === null">
                    <img src="{{ updateForm.get('image').value }}" class="img-fluid rounded w-50 mt-2" *ngIf="updateForm.get('image').value !== null">
                </div>
            </div>
            <button (click)="removeImage()" class="btn btn-danger btn-sm mb-4 rounded" *ngIf="updateForm.get('image').value !== null">Remover</button>
            <input type="file" class="form-control-file border-0" id="img" aria-describedby="imgHelp" #imageInput
                accept="image/*" (change)="processFile(imageInput)">
            <small id="imgHelp" class="form-text text-danger"
                [hidden]="updateForm.get('image').valid || updateForm.get('image').untouched">Insira a imagem do
                produto.</small>
        </div>
        <div class="row justify-content-center">
            <app-activity-indicator *ngIf="isUpdating"></app-activity-indicator>
            <button type="submit" class="btn btn-danger m-2" [routerLink]="['/produtos']" *ngIf="!isUpdating">Cancelar</button>
            <button type="submit" class="btn btn-primary m-2" *ngIf="!isUpdating">Atualizar</button>
        </div>
    </form>
</div>