<div class="w100 mt-5 pt-5 d-flex justify-content-center align-items-center" *ngIf="isLoading">
    <app-activity-indicator></app-activity-indicator>
</div>
<div class="container my-5" *ngIf="!isLoading">
    <div *ngIf="noProducts" class="d-flex flex-column justify-content-center align-items-center">
        <h3 class="display-5 text-center mt-5">Nenhum produto cadastrado</h3>
    </div>
    <div class="row">
        <div class="col-12 col-sm-6 col-md-4 my-4" *ngFor="let product of products">
            <div class="card w-100 h-100">
                <div class="card-body p-2 d-flex flex-column justify-content-between align-items-center">
                    <img src="assets/default-img.png" class="img-fluid rounded float-left w-50" *ngIf="product.image === null">
                    <img src="{{ product.image }}" class="img-fluid rounded float-left w-50" *ngIf="product.image">
                    <h5 class="card-title text-center mt-2">{{ product.name }}</h5>
                    <h4 class="card-text text-center">R$ {{ product.price | currency:'BRL':'':'0.2':'pt'}}</h4>
                    <div class="row justify-content-center">
                        <a class="btn btn-primary m-1" [routerLink]="['editar', product.productId]">Editar</a>
                        <button class="btn btn-danger m-1" (click)="selectProduct(product)">Excluir</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <a [routerLink]="['novo']" class="btn btn-warning col-10 col-md-3 mt-4">Cadastrar Produto</a>
    </div>
</div>
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog"
    aria-labelledby="deleteModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalTitle">Tem certeza que deseja excluir?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body d-flex flex-column align-items-center justify-content-center">
                <app-activity-indicator *ngIf="isDeleting"></app-activity-indicator>
                <h4 class="my-5" *ngIf="!isDeleting">{{ selectedProduct.name }}</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" (click)="deleteProduct(selectedProduct.productId)">Sim</button>
            </div>
        </div>
    </div>
</div>