@import "node_modules/bootswatch/dist/lux/_variables.scss";
@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "node_modules/bootswatch/dist/lux/_bootswatch.scss";

.ng-valid.ng-dirty:not(form) {
  border: solid 1px lightgreen;
}

.ng-invalid.ng-dirty:not(form),
.ng-invalid.ng-touched:not(form),
.ng-invalid:not(form).form-submitted {
  border: solid 1px lightcoral;
}
